* {
  font-family: "Proxima Nova", Helvetica, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.text-gray-small {
  color: gray;
  font-weight: 600;
  font-size: 13px;
}

.w-all {
  width: 100%;
}

.checked {
  color: orange;
}

.unchecked {
  color: #cecece;
}

.section-container {
  width: 100%;
  margin: 40px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media only screen and (max-width: 800px) {
  .section-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 400px) {
  .section-container {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.section-container .sidemenu-container {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  width: 300px;
  display: -ms-grid;
  display: grid;
  gap: 0.5em;
  padding: 1.2em 1em;
  border: #dbdbdb 1px solid;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@media only screen and (max-width: 800px) {
  .section-container .sidemenu-container {
    width: auto;
    -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

.section-container .sidemenu-container .box1 input {
  padding: 4px 10px;
}

.section-container .sidemenu-container .box4 input {
  width: 40%;
  padding: 4px 10px;
}

.section-container .sidemenu-container .box6 .search {
  padding: 0.3em 0.5em;
}

.section-container .sidemenu-container .box {
  margin-bottom: 1em;
}

.section-container .sidemenu-container .box .sidemenu-dropdown {
  width: 100%;
  padding: 5px 10px;
}

.section-container .product-container {
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.section-container .product-container .individual-card {
  padding: 0.5em;
  margin: 0.5em;
  width: 16rem;
  height: 25em;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-container .product-container .individual-card:hover {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.09), 5px 5px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.09), 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.section-container .product-container .individual-card .card-top-img {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-container .product-container .individual-card .card-bottom {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-container .product-container .individual-card .card-bottom .product-stock-success {
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  color: white;
  background-color: #6bd650;
  display: inline-block;
  padding: 0px 4px;
  border-radius: 3px;
}

.section-container .product-container .individual-card .card-bottom .product-stock-fail {
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  color: white;
  background-color: #d32323;
  display: inline-block;
  padding: 0px 4px;
  border-radius: 3px;
}

.section-container .product-container .individual-card .card-bottom p, .section-container .product-container .individual-card .card-bottom h5, .section-container .product-container .individual-card .card-bottom input {
  margin: 0.3em 0em;
}

.section-container .product-container .individual-card .card-bottom a {
  color: black;
  text-decoration: none;
}

.section-container .product-container .individual-card .card-bottom input[class="submit"] {
  cursor: pointer;
  padding: 0.4em 0.7em;
  width: 100%;
}

.section-container .product-container .card-top-img {
  height: 13rem;
  width: 15rem;
  -o-object-fit: contain;
     object-fit: contain;
}

#error-box {
  display: block;
  padding: 10px;
  border-radius: 5px;
  background-color: #e64545;
  color: white;
  font-weight: 500;
  text-align: center;
}
/*# sourceMappingURL=productSearchPage.css.map */